extends layout

block content
    
    section.container
        .card(style='width:400px')
            img.card-img-bottom(src='http://www.netsansoftware.com/images/mahmoud.jpg', alt='Mahmoud Osman', style='width:80ox; heigh:80px; border-radius:1%;')

            .card-body
                h4.card-title Mahmoud Osman
                p.card-text I am a web developer
                a.btn.btn-primary(href='#') See My Profile!
