extends layout

block content
  section#contact_me
  .container
    h1 Contact Me
    .row
      .col.md-6
        form(action='contact', method='POST')
          input#fname.form-control(type='text', name='fname', placeholder='First name')
          input#email.form-control(type='email', name='email', placeholder='Email address')
          textarea#message.form-control.md-textarea(type='text', name='message', rows='8', placeholder='Message')
          input.btn.btn-outline-success.btn-lg.mt-3(type='submit', value='Send Message')



