extends layout

block content
  section.container
    h1= title
    p Welcome to #{title}
    
      .row
        .col-md-8.home_page
          h3 About Me
          p My name is Mahmoud Osman and I am a software developer.
          h4 My Skills
          ul
            li HTML
            li CSS
            li JavaScript
            li React
            li Express
            li PHP
            li Java
            li Bootstrap
            li And More.