
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

}

body {
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 1500px;
  background-color: #fdfdfb;
}

a {
  color: #00B7FF;
}



/* Navbar style */
.bg-light {
  background-color: #fb7234 !important;
  margin-top: -50px;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 17px;
 
}

.home_page{
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 8px;
}
.about_me{
  position: relative;
  display: block;
  height: 350px;
  background: #fff;
  margin-top: 60px;
}
.about_me img{
  width:80px; 
  height:80px; 
  border-radius:50%;
  margin: auto;
}
.about_me .card{
  margin-top: 60px;
    display: block;
    max-width: 600px;
    margin: auto;
}
.about_me .card img{
  max-width: 700px;
  margin: auto;
  display: block;
}
.about_me .card-title{
  text-align: left;
}

/* All Posts */
.all-posts{
  width: auto;
  height: auto;
  display: block;
  background-color: #fff;
  padding: 1px 2px 2px 55px;
  position: relative;
}



/* Login section */

.form-signin{
  width: 600px;
  margin: auto;
  position: relative;
  display: block;
  margin-top: 80px;
}
.form-signin img {
 
  width: 100px;
  height: 100px;
  display: block;
}
.form-signin input{
  margin-bottom: 8px;
  width: 60%;
}



/* Start of side bar */
.side__bar{

  height: 100vh;
  position: relative;
  background-color: #f7f5f5;
}



/*Contact Me*/
#contact_me{
  margin-top: 60px;
}





/*All products*/
.product h1{
  margin-top: 60px;
}




.footer{
  background: #002;
  color: #fff;
  padding: 5px;
  display: none;
}
