body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 1500px;
}

a {
  color: #00B7FF;
}



/* Navbar style */
.bg-light {
  background-color: #fb7234 !important;
  margin-top: -50px;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 17px;
 
}

.home_page{
  background-color: #ccd;
  width: 100%;
  height: auto;
  padding: 8px;
}
.about_me{
  position: relative;
  display: block;
  height: 350px;
  background: #f9f9f9;
}
.about_me img{
  width:80px; 
  height:80px; 
  border-radius:50%;
  margin: auto;
}
.about_me .card{
  margin-top: 40px;
}


/* All Posts */
.all-posts{
  background-color: #dcdcd4;
    padding: 1px 2px 2px 55px;
}















/* Login section */

.form-signin{
  width: 600px;
  margin: auto;
  position: relative;
  display: block;
}
.form-signin img {
 
  width: 100px;
  height: 100px;
  display: block;
}
.form-signin input{
  margin-bottom: 8px;
  width: 60%;
}








.footer{
  background: #002;
  color: #fff;
  padding: 5px;
  display: none
}