body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 1500px;
}

a {
  color: #00B7FF;
}



/* Navbar style */
.bg-light {
  background-color: #fb7234 !important;
  margin-top: -50px;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 17px;
 
}

.home_page{
  background-color: #ccd;
  width: 100%;
  height: 250px;
}
.about_me{
  background-color: #00f;
}


.footer{
  background: #002;
  color: #fff;
  padding: 5px;
}